/*
font-family: 'Chronicle Display Semi', serif;
font-family: 'Gilroy', serif;
 */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Gilroy', serif;
    background-color: #0B1D26;
    background-image: url('../img/bg/BG.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}

/* BASE */
.no-scroll{
    overflow-y: hidden;
}


.container{
    max-width: 1492px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-wide{
    max-width: 1790px;
    margin: 0 auto;
    padding: 0 15px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* HEADER */

.header{
    padding-top: 44px;
}

.nav-wrapper{
    margin-bottom: 198px;
}

.logo{
    font-family: 'Chronicle Display Semi', serif;
    font-weight: 700;
    font-size: 32px;
}

.nav{
    font-weight: 700;
    font-size: 18px;
}

.nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li + li{
    margin-left: 40px;
}

.nav a{
    position: relative;
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in;
    padding-bottom: 5px;
}

.account{
    position: relative;
    padding-left: 30px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.account::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url(./../img/icons/account.svg);
    background-size: contain;
}

.account:hover{
    color: #FBD784;
}

.nav-button{
    position: relative;
    z-index: 9;
    display: none;
    cursor: pointer;
    height: 17px;
    border: none;
    padding: 0;
    background: none;
}

.nav-button:focus,
.nav-button:active{
    outline: none;
}

.nav-button-icon{
    position: relative;
    display: block;
    border: none;
    background-color: #FFFFFF;
    width: 32px;
    height: 3px;
}

.nav-button-icon::before{
    position: absolute;
    left: 0;
    top: -7px;
    content: '';
    display: block;
    width: 32px;
    height: 3px;
    background-color: #FFFFFF;
}

.nav-button-icon::after{
    position: absolute;
    left: 0;
    bottom: -7px;
    content: '';
    display: block;
    width: 32px;
    height: 3px;
    background-color: #FFFFFF;
}

.nav-button-close .nav-button-icon{
    background-color: transparent;
}

.nav-button-close .nav-button-icon::before{
    transform: rotate(45deg);
    top: 0;
}

.nav-button-close .nav-button-icon::after{
    transform: rotate(-45deg);
    top: 0;
}

.mobile-nav{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 55px 70px 50px 30px;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: #0B1D26;
    z-index: 8;
    opacity: 0.8;
}

.mobile-nav .nav,
.mobile-nav .account{
    display: block;
}

.mobile-nav .nav ul{
    flex-direction: column;
}

.mobile-nav .nav ul li{
    margin: 0;
    margin-bottom: 25px;
}

/* HERO */

.hero{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 843px;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    transition: transform 0.8s cubic-bezier(0.660, 0.215, 0.295, 1.640);
}

.hero:hover{
    transform: translateY(-5%);
}

.hero-category{
    margin-bottom: 32px;
    position: relative;
    padding-left: 104px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.hero-category::before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
 }

.hero-title{
    margin-bottom: 32px;
    font-family: 'Chronicle Display Semi', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 1.136;
    text-transform: capitalize;
    color: #FFFFFF;
}

.hero-scroll{
    display: inline-block;
    position: relative;
    padding-right: 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #FFFFFF;
}


.hero-scroll::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 24px;
    background-image: url(./../img/icons/arrow-down.svg);
}


/* ARTICLE */

.article{
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article:nth-child(even) {
    flex-direction: row-reverse;
}

.article-text{
    position: relative;
    padding-left: 150px;
    max-width: 782px;
}

.article-text::before{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);

    display: block;
    content: attr(data-number);
    width: 240px;
    height: 240px;

    font-style: normal;
    font-weight: 700;
    font-size: 240px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.1);
}


.article-subtitle{
    margin-bottom: 32px;
    position: relative;
    padding-left: 96px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.article-subtitle::before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.article-title{
    max-width: 550px;
    margin-bottom: 27px;
    font-family: 'Chronicle Display Semi', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;
    color: #FFFFFF;
}

.article-text p{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.article-read-more{
    display: inline-block;
    position: relative;
    padding-right: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #FBD784;
    text-decoration: none;
}


.article-read-more::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 16px;
    background-image: url(./../img/icons/arrow-right.svg);
}




/* FOOTER */

.footer{
    margin-bottom: 50px;
}


.footer-copyright{
    display: flex;
    flex-direction: column;
}

.footer-copyright-logo{
    margin-bottom: 24px;
}

.footer-copyright-desc{
    max-width: 303px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
}

.footer-copyright-terms{
    margin-top: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;
    color: rgba(255, 255, 255, 0.5);
}

.footer-nav-wrapper{
    display: flex;
}

.footer-nav + .footer-nav{
    margin-left: 212px;
}

.footer-nav{
    max-width: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;
}

.footer-nav-title{
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    color: #FBD784;
}

.footer-nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-nav li{
    padding: 0;
    margin-bottom: 11px;
}

.footer-nav li:last-child{
    margin-bottom: 0;
}

.footer-nav a{
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 5px;
}

.footer-nav a::after{
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.footer-nav a:hover::after{
    bottom: 0;
    opacity: 1;
}

.footer-row{
    display: flex;
    justify-content: space-between;
}

